body{
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    /* user-select: none;
    overflow: hidden; */
    width: 100vw;
    height: 100vh; 
}
.MainText{
    text-align: center;
    font-size: 2em;
    margin: 0 0 30px 0;
    height: 10vh;
}
.layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}
.crowimg{
    width: 300px;
    height: 300px;
    position: absolute;
    top:30vh;
    left:15vw;
}

.btn{
    cursor: pointer;
    font-size: 3em;
    position: absolute;
    top:80vh;
    left:20vw;
}

.box{
    display: flex;
    
}

.first{
    margin-right: 100px;
}
.second{
    
}
.infobox{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-right: 100px;

}